### hello world

# hhi

#### hi

##### hi

###### hi

In [1]:
print("Hello world")

Hello world

In [2]:
print("Roshan")

Roshan

In [3]:
print("datascience")

datascience

#### variable

In [6]:
name="roshan"
age=21
income=20000

In [8]:
print(name)
print(age)
print(income)

roshan
21
20000

In [11]:
namelist="roshan","dubey"

In [12]:
namelist="roshan","dubey"
namelist

('roshan', 'dubey')

### space is n0t allowed

## variable name should not start with integers

### variable should not contain any special character

### variable name should start with A-Z,a-z or underscore

In [15]:
name_list="roshan"
name_list

'roshan'

In [16]:
name="roshan"
name="dubey"

In [17]:
print(name)

dubey

In [18]:
x=y=z=5

In [19]:
print(x)

5

In [20]:
print(y)

5

In [21]:
print(z)

5

In [22]:
x,y,z=1,2,3

In [23]:
print(x)

1

In [24]:
print(y)

2

In [25]:
print(z)

3

In [26]:
name="roshan"

In [28]:
print(name)
type(name)

roshan

str

In [30]:
x=10
type(x)

int

In [34]:
x=False

In [35]:
type(x)

bool

#### python is case sensitive

### implicit conversion

### explicit conversion

In [36]:
x=10.5
y="10"
x+int(y)

20.5

In [42]:
x=5
int(x)

5

In [43]:
str(x)

'5'

In [44]:
float(x)

5.0

In [47]:
x='yu'
int(x)

ValueError: invalid literal for int() with base 10: 'yu'

In [48]:
x='hi'
float(x)

ValueError: could not convert string to float: 'hi'

In [49]:
x=10.4
str(x)

'10.4'

In [50]:
int(x)

10